* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}


body {
	color: black;
}

header {
	position: fixed;
	top: 0;
	/*	left: 0;*/
	width: 100%;
	padding: 20px;
	/*	background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(2px);
	background: linear-gradient(45deg, rgb(66, 15, 114), rgb(175, 31, 108));
}


.logo {
	font-size: 60px;
	color: #fff;

	/*	Prevent text selection*/
	user-select: none;
}

.navigation a {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
}

.navigation a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #fff;
	/*	border-radius: 5px;*/
	left: 0;
	bottom: -5px;

	/*	a: Starting position of the line is at 0*/
	transform: scaleX(0);
	transition: transform .5s;
	transform-origin: right;
}

/*  b: Then change to 1*/
.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

main {
	margin-top: 150px;
	margin-left: 20px;
}

main .row1 h2 {
	font-size: 50px;
}

main .row1 {
	display: flex;
}

main .row1 #btn1 {
	margin-left: 200px;
}

main .row1 .btn {
	font-size: 50px;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
	color: grey;
}

main .row1 .btn.filled {
	color: gold;
}

main .row1 #btn1 i:hover {
	cursor: grab;
}

main p {
	margin-top: 50px;
	margin-bottom: 50px;
}

main .gallery .object {
	display: inline-block;
	border: 1px solid rgb(104, 103, 103);
	margin: 10px;
	padding: 10px;
	text-align: left;
}

main .gallery {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

main .gallery .object img {
	border-radius: 10px;
	width: 25vw;
	height: 16vw;
}

.quantity {
	display: flex;
	align-items: center;
	justify-content: right;
	margin: 20px;
}

.quantity button {
	background: none;
	border: none;
	font-size: 1.5em;
	cursor: pointer;
}

.quantity span {
	margin: 0 10px;
	font-size: 1.2em;
}

main .review {
	margin-left: 10px;
	margin-right: 10px;

}

main .review .title {
	margin-top: 100px;
	padding-left: 10px;
	margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 8px solid;
	background-color: rgb(205, 188, 221);
	border-color: rgb(66, 15, 114);
	font-size: 2vw;
}

main .review h2 {
	margin: 20px;
}

main .review p {
	background-color: rgb(235, 213, 255);
	border-radius: 10px;
	padding: 10px;
	margin: 20px
}

main .review .commentSection{
	background-color: rgb(66, 15, 114);
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

main .review .latestReviews{
	background-color: rgb(66, 15, 114);
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

main .restaurant-photo img {
    width: 30%;
}

.restaurant-photo {
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

main .restaurant-photo .info-text {
    padding-top: 150px;
    margin-left: 100px;
    margin-right: 200px;
}

/*
.navigation .btnLogin-popip {
	width: 120px;
	height: 45px;
	background: transparent;
	border: 1.5px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 35px;

	/*Animation time
	transition: .5s;
} 
*/

/* .navigation .btnLogin-popip:hover {
	background: #fff;
	color: #162938;
} */